*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
button {
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3)
    );
}

.label {
    position: relative;
    top: -1px;
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button:hover .transition {
    width: 14em;
    height: 14em;
}

button:active {
    transform: scale(0.97);
}

#content {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #1f2937;
}
#headline {
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
    width: 100%;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    padding: 0;
    background: rgb(128, 128, 128, 0.5);
    display: inline;
    font-size: 70px;
}

#paragraph {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
    background: rgb(128, 128, 128, 0.5);
}

#menuChoice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    h1{
        text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    }
}
#menuHead {
    font-size: 20px;
    margin-top: 0.5%;
}
#price {
    font-size: 16px;
}

#aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    margin-top: -10%;
    h1 {
        text-shadow: 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000, 4px 4px 0 #000;
    }
    h2 {
        margin: 1%;
    }
}